/*
    Colour Palette
------------------------
| Dark Blue:   #0D1321 |
| Medium Blue: #1D2D44 |
| Blue:        #3E5C76 |
| Light Blue:  #748CAB |
| White:       #F0EBD8 |
| Yellow:      #FCBF49 |
------------------------

*/

body {
  margin: 0;
  padding: 0;
  background-color: #0d1321;
  padding-top: 56px;
}

.radio-canada {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.container {
  background-color: #1d2d44;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #748cab;
}

.navbar {
  background-color: #1d2d44;
}

.nav-link {
  color: white;
  padding-bottom: 2px;
  padding-left: 4px !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.btn {
  color: white;
  border: solid 1.5px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-lg {
  background-color: #fcbf49;
  color: #0d1321;
}

.btn-lg:hover {
  background-color: white;
  color: #1d2d44;
  border: solid #fcbf49;
}

.fa-solid {
  color: white;
}

li {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

#pfp {
  color: #0d1321;
  background-color: #0d1321;
  height: 175px;
  width: 175px;
  border-radius: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  object-fit: cover;
}

.stats {
  background-color: #1d2d44;
  width: 95%;
  height: fit-content;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 2em;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.progress {
  width: 95%;
  max-width: 1000px;
  margin: 10px 18px 15px 18px;
  background-color: transparent;
  border: solid rgb(255, 255, 255);
  border-style: none solid solid solid;
  border-radius: 0%;
}

.progress-bar {
  background-color: #fcbf49;
  border-right: solid 1px;
}

.stat-name {
  display: flex;
  gap: 10px;
}

.level-title {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0px 18px;
}

.bar-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  padding: 0px 18px;
}

.xp-count {
  position: absolute;
  width: 95%;
  max-width: 1000px;
  padding-right: 18px;
  display: flex;
  justify-content: end;
}

.xp {
  font-size: small;
  display: flex;
}

.container {
  color: white;
  padding: 0;
  width: 95%;
  max-width: 1000px;
  height: fit-content;
  margin-top: 30px;
  border-radius: 10px;
}

.header {
  padding: 10px 10px 8px 10px;
  width: 100%;
  border-bottom: solid;
  display: flex;
  justify-content: space-between;
}

.friend {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.178);
  height: 45px;
  overflow: hidden;
}

.friend:last-child {
  border: hidden;
}

.friends-list {
  all: unset;
}
