/*
    Colour Palette
------------------------
| Dark Blue:   #0D1321 |
| Medium Blue: #1D2D44 |
| Blue:        #3E5C76 |
| Light Blue:  #748CAB |
| White:       #F0EBD8 |
| Yellow:      #FCBF49 |
------------------------

*/

#title {
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: solid rgb(255, 255, 255);
}

.form {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    height: fit-content;
    background-color: #1d2d44;
    border-radius: 10px;
    max-width: 1000px;
    color: white;
    text-align: center;
}

#form-container {
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-areas: 
        'exercise exercise exercise'
        'weight sets reps'
        'wheel wheel wheel';
    grid-template-columns: 33% 33% 33%;
}

.form-label,
#choose {
    float: left;
}

#weightInput,
#setsInput,
#repsInput,
#durationInput {
    width: 80px;
    float: right;
}
#drop {
    width: 100%;
}

#addButton {
    background-color: #FCBF49;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* div that includes both the label and input box */
#weightForm,
#repForm,
#setForm,
#chooseForm {
    margin-top: 15px;
}

#chooseForm {
    grid-area: exercise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weightForm {
    grid-area: weight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#setForm {
    grid-area: sets;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#repForm {
    grid-area: reps;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#durationForm{
    grid-area: reps;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* scroll wheel below */

.picker {
    grid-area: wheel;
    display: grid;
    grid-template-areas: 'left mid right';
    grid-template-columns: 33.333% 33.333% 33.333%;
    width: 100%;
    padding-top: 2%;
}

#weightWheel {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

#setsWheel {
    grid-area: mid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}
#repsWheel {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.option {
    cursor: pointer;
    /* Change cursor to a pointer (hand) when hovering over the option */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

.option:hover {
    background-color: #3E5C76;
    /* Change background color to light gray when hovering */
}

.selected {
    background-color: #3E5C76;
    /* Example color for selected option */
    color: white;

}

/* .picker {
    display: flex;
    flex-direction: row;
    gap: 20px;
} */

.weight,
.sets,
.reps {
    flex: 1;
    border: 1px solid #ccc;
    height: 150px;
    width: 80px;
    overflow-y: scroll;
    /* Implements scroll wheel like behavior? */
}

.weight::-webkit-scrollbar,
.sets::-webkit-scrollbar,
.reps::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}