/*
    Colour Palette
------------------------
| Dark Blue:   #0D1321 |
| Medium Blue: #1D2D44 |
| Blue:        #3E5C76 |
| Light Blue:  #748CAB |
| White:       #F0EBD8 |
| Yellow:      #FCBF49 |
------------------------

*/

body {
  margin: 0;
  padding: 0;
  background-color: #0d1321;
  color: white;
  padding-top: 94px;
}

.radio-canada {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.container {
  background-color: #1d2d44;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #748cab;
}

.navbar {
  background-color: #1d2d44;
  z-index: 2;
}

.nav-link {
  color: white;
  padding-bottom: 2px;
  padding-left: 4px !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}
.btn {
  color: white;
  border: solid 1.5px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-lg {
  background-color: #fcbf49;
  color: #0d1321;
}

.btn-lg:hover {
  background-color: white;
  color: #1d2d44;
  border: solid #fcbf49;
}

.fa-solid {
  color: white;
}

li {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

h5 {
  margin: 0;
}

.setting-section {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  height: fit-content;
  background-color: #1d2d44;
  border-radius: 10px;
  max-width: 1000px;
}

.setting-option {
  padding: 10px 15px 10px 15px;
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.178);
  display: flex;
  justify-content: space-between;
}

.setting-option:last-child {
  border: hidden;
}

.setting-header {
  padding: 10px 10px 8px 10px;
  border-bottom: solid rgb(255, 255, 255);
}

.nav {
  top: 56px;
  background-color: #0d1321;
  max-width: 1000px;
  margin: auto;
  z-index: 1;
}
