/*
    Colour Palette
------------------------
| Dark Blue:   #0D1321 |
| Medium Blue: #1D2D44 |
| Blue:        #3E5C76 |
| Light Blue:  #748CAB |
| White:       #F0EBD8 |
| Yellow:      #FCBF49 |
------------------------

*/

/* #region DEFAULT PAGE SETTINGS */
body {
  margin: 0;
  padding: 0;
  background-color: #0d1321;
  color: white;
  padding-top: 100px;
}

.radio-canada {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.container {
  background-color: #1d2d44;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #748cab;
}

.navbar {
  background-color: #1d2d44;
  z-index: 2;
}

.nav-link {
  color: white;
  padding-bottom: 2px;
  padding-left: 4px !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.btn {
  color: white;
  border: solid 1.5px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-lg {
  background-color: #fcbf49;
  color: #0d1321;
}

.btn-lg:hover {
  background-color: white;
  color: #1d2d44;
  border: solid #fcbf49;
}

.fa-solid {
  color: white;
}
/* #endregion DEFAULT PAGE SETTINGS */

/* #region SETTINGS PAGE LAYOUT */
li {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

h5 {
  margin: 0;
}

.setting-header {
  padding: 10px 10px 8px 10px;
  border-bottom: solid rgb(255, 255, 255);
}

.setting-section {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  height: fit-content;
  background-color: #1d2d44;
  border-radius: 10px;
  max-width: 1000px;
}

.setting-option {
  padding: 10px 15px 10px 15px;
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.178);
  height: 45px;
  overflow: hidden;
}

.setting-option:last-child {
  border: hidden;
}

.setting-option:last-child:hover {
  border-radius: 0px 0px 4px 4px;
}

.option-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav {
  top: 72px;
  background-color: #0d1321;
  max-width: 1000px;
  margin: auto;
  z-index: 1;
}

.dropdown-icon {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}
/* #endregion SETTINGS PAGE LAYOUT */

/* #region CHANGE USERNAME SETTING */
.modal-container {
  display: none;
  justify-content: center;
  padding-top: 20px;
}

.change-user .modal-content {
  background-color: #1d2d44;
  padding: 20px;
  width: 80%;
}

.user-input {
  all: unset;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.modal-header {
  all: unset;
}

.modal-input {
  padding: 10px 10px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.418);
}

.modal-footer {
  border: none;
  padding: 0;
  display: flex;
  justify-content: right;
}

.submit-btn {
  all: unset;
  color: black;
  background-color: #fcbf49;
  border-radius: 4px;
  padding: 2px 5px;
  margin-top: 10px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: white;
}

#tooltip {
  font-size: 12px;
  width: 50%;
}

/* #endregion CHANGE USERNAME SETTING */

/* #region CHANGE USERNAME SETTING */

.pfp-container {
  display: none;
  flex-wrap: wrap;
  height: 220px;
  margin: 20px 0px;
  gap: 20px;
  justify-content: center;
  overflow-y: scroll;
}

.pfp {
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

#closeButton {
  background-color: #fcbf49;
}

.modal-dialog {
  color: black;
}

#exampleModal {
  transform: translateY(200px);
}

/* #endregion CHANGE USERNAME SETTING */
