/*
    Colour Palette
------------------------
| Dark Blue:   #0D1321 |
| Medium Blue: #1D2D44 |
| Blue:        #3E5C76 |
| Light Blue:  #748CAB |
| White:       #F0EBD8 |
| Yellow:      #FCBF49 |
------------------------

*/

body {
  color: white;
}

.container {
  background-color: transparent;
  width: 85vw;
  height: fit-content;
  margin: auto;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 540px;
  }
}
